[Desktop Entry]
Version=1.0
Name=Lanshark
GenericName=Lan filesharing
Comment=Lan P2P filesharing tool
Icon=lanshark
Type=Application
Categories=Application;Network;
Terminal=false
Exec=lansharkgui
